<%- include("header") -%>

<body>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <div class="box">
    <% for(var i = 0; i < listItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p class="list-text">
        <%= listItems[i] %>
      </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newTodo" placeholder="New Item" autocomplete="off">
      <button class="plus-button" type="submit" name="listSubmit" value=<%= listTitle %>><img class="plus-icon" src="./plus.png" /></button>
    </form>
  </div>

</body>

<%- include("footer") -%>